a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #000000;
}
body {
	font-family: "宋体", "Arial Unicode MS", "新宋体";
	font-size: 12px;
	background-repeat: no-repeat;
}
.style1 {
	border-style: solid;
	border-width: 1px;
	border-color:#cccccc;
}
.top {
	font-family: "宋体", "Arial Unicode MS", "新宋体";
	font-size: 12px;
	position:relative;
	margin-top:2px;
	width:891px;
	height:80px;
}
.logo{
	position:relative;
	margin-top:7px;
	margin-left:-435px;
}
.top_flash {
	position:relative;
	margin-top:2px;
	width:891px;
	height:285px;
}
.flash_photo{
	position:relative;
	margin-left:2px;
	margin-top:2px;
	width:884px;
	height:279px;
}
.cd{
	position:relative;
	width:891px;
	height:35px;
	margin-top:2px;
	background-image:url(../images/cd_bg.png);
}
.main {
	position:relative;
	margin-top:2px;
	width:891px;
	height:auto;
}
.Copyright {
	position:relative;
	margin-top:2px;
	width:891px;
	height:99px;
	line-height:200%;
	background-color:#F8F8F8;
	background-repeat:no-repeat;
	background-image:url(../images/main_88.png);
}
.Copyright-e {
	position:relative;
	margin-top:2px;
	width:891px;
	height:99px;
	line-height:200%;
	background-color:#F8F8F8;
	background-repeat:no-repeat;
	text-align:center;
}
.prod{
	display:block;
	width:148px;
	height:185px;
	border:1px solid  #CCC;
	position:relative;
	margin:10px 5px;
	float:left;
}
.prod img{width:130px; height:130px; left:10px;top:10px; position:absolute; border:none;}
.prod div{ position:absolute; left:10px; top:150px; width:125px; text-align:center; cursor:pointer; white-space:nowrap; overflow:hidden;}
.prod div.en{font-family:'Times New Roman', Times, serif;"}