a.img
{
	color: white;
	text-decoration: none;
}

body
{
	margin: 0;
	background-color: #daf2fc;
	text-align: center;
}

.main
{
	margin: 0 auto;
	text-align: left;
	width: 984px;
	overflow-x: hidden;
	background: #f3f3f3 url(../images/bg.gif) left top repeat-y;
}

.header
{
	border: solid 1px #a0a0a0;
	position: relative;
	top: 2px;
	margin-bottom: 5px;
}

.company_name
{
	font-family: Arial Black,Arial;
	font-size: 18px;
}

ul.facility
{
	display: inline;
	margin: 0;
	list-style-type: none;
}

ul.facility li
{
	display: inline;
	padding: 0 1px;
	font-size: 12px;
}

.set_home,.add_favorite,.email_to
{
	padding-left: 20px;
}

.set_home
{
	background: url(../images/homepage.gif) left center no-repeat;
}

.add_favorite
{
	background: url(../images/favorite.gif) left center no-repeat;
}

.email_to
{
	background: url(../images/mail.gif) left center no-repeat;
}

.nav
{
	padding-top: 5px;
	padding-bottom: 30px;
	background: url(../images/nav-bg.gif) left top repeat-x;
}

.nav ul
{
	list-style-type: none;
	margin: 0px;
	margin-left: 50px;
	padding: 0px;
}

.nav ul li
{
	display: inline;
	padding: 0px 10px;
	border-left: solid 2px #a0a0a0;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
}

.nav ul li.first
{
	border-left-width: 0px;
}

ul.menu
{
	margin: 0px 0px 3px 5px;
	list-style-type: none;
}

ul.menu li
{
	display: block;
	margin-top: 3px;
	padding-left: 10px;
	font-size: 12px;
	border-width: 0;
	background: url(../images/bullet.gif) left center no-repeat;
}

#company_menu_wraper,#products_menu_wraper
{
	position: relative;
	top: -4px;
	height: 10px;
	display: none;
}

#company_menu,#products_menu
{
	position: absolute;
	top: 10px;
	*top: 9px;
	border: solid 1px #b7d0ef;
	border-top: solid 1px #e4eeff;
	background-color: #e4eeff;
}

#company_menu
{
	left: 114px;
}

#products_menu
{
	left: 266px;
	*left: 268px;
}

.clear
{
	clear: both;
}

.left_pane
{
	float: left;
	width: 250px;
}

.left_panel_title
{
	font-size:14px;
	font-weight:bold;
	padding-left:3px;
}

.left_panel_title_bg
{
	background:url(../images/nav-bg.gif) left top repeat-x;
}

.box_lb_blue
{
	background: #e4eeff url(../images/box-border/left-border.gif) left top repeat-y;
}

.box_rb_blue
{
	background: url(../images/box-border/right-border.gif) right top repeat-y;
}

.box_lbc_blue
{
	background: url(../images/box-border/bottom-left-border-blue.gif) left bottom no-repeat;
}

.box_rbc_blue
{
	background: url(../images/box-border/bottom-right-border-blue.gif) right bottom no-repeat;
}

.box_lb_gray
{
	background: #f3f3f3 url(../images/box-border/left-border.gif) left top repeat-y;
}

.box_rb_gray
{
	background: url(../images/box-border/right-border.gif) right top repeat-y;
}

.box_lbc_gray
{
	background: url(../images/box-border/bottom-left-border-gray.gif) left bottom no-repeat;
}

.box_rbc_gray
{
	background: url(../images/box-border/bottom-right-border-gray.gif) right bottom no-repeat;
}

.left_panel_content
{
	padding-top: 5px;
	padding-left: 10px;
}

#product_list_div{
	margin-right: 10px;
	width: 230px;
	font-size: 12px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: no;
}

#product_list_div img{
	margin: 0px;
	margin-top: -3px;
	padding: 0px;
	border: 0;
}

#product_list_div a
{
	padding: 0px 0px 0px 22px;
}

#product_list_div a.folder_close
{
	background: url(../images/tree/tree_folder.gif) left center no-repeat;
}

#product_list_div a.folder_open
{
	background: url(../images/tree/tree_folderopen.gif) left center no-repeat;
}

#product_list_div a.info
{
	background: url(../images/tree/info.gif) left center no-repeat;
}

#product_list_div a.product
{
	background: url(../images/tree/product.gif) left center no-repeat;
}

#product_list_div a:link { 
	text-decoration:none;
	color: black;
}

#product_list_div a:visited { 
	text-decoration:none;
	color: black;
}

#product_list_div a:hover { 
	text-decoration:underline; 
	color: red;
}

.center_pane
{
	float: right;
	width: 680px;
	margin-left: 10px;
}

.center_panel_title_bg
{
	background: url(../images/nav-bg.gif) left top repeat-x;
}

.center_panel_content
{
	margin: 0px 10px 0px 10px;
}

.position
{
	padding: 5px 20px 10px 20px;
	font-size: 15px;
}

.footer
{
	font-size: 12px;
	color: #5b5b5b;
	text-align: center;
	margin: 0px -6px;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-top: solid 1px gray;
}
